<html>
<head>
    <title>A Bathroom!</title>
</head>
<body>
    Reviews:<br />
    {% for review in reviews %}
    By: {{review[1]}}<br />
    Rating: {{review[2]}}<br />
    Review: {{review[0]}}<br /><br />
    {% endfor %}
    <br /></br />
    {% if username %}
    Add review
    <form action="{{url_for('add_review', bathroom=bathroom[0])}}" method="POST">
        Review: <input name="review" type="text" />
        Rating: <input name="rating" type="number" min="1", max="5" />
        <br />
        <input type="submit" />
    </form>
    {% else %}
    Please <a href="/login">login</a> to add a review.
    {% endif %}
</body>
</html>
