<html>
<head>
    <title>Associate a building and major</title>
</head>
<body>
    <form action="{{url_for('building_major')}}" method="POST">
        Select major: <select name="major">
            {% for (mid, mname) in majors %}
            <option value="{{mid}}">{{mname}}</option>
            {% endfor %}
        </select> <br />
        Select a building: <select name="building">
            {% for (bid, bname) in buildings %}
            <option value="{{bid}}">{{bname}}</option>
            {% endfor %}
        </select> <br />
        <input type="submit" />
    </form>
</body>
</html>
